<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gengee.insaitlib">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <!-- Request legacy Bluetooth permissions on older devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" /> <!-- ******android6.0以上蓝牙使用需要授权************ -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />

    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />

    <!--    &lt;!&ndash; Needed only if your app makes the device discoverable to Bluetooth devices. &ndash;&gt;-->
    <!--    &lt;!&ndash; 用于允许当前的设备被其他的蓝牙设备所发现   &ndash;&gt;-->
    <!--    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />-->

    <!-- Needed only if your app communicates with already-paired Bluetooth devices. -->
    <!-- 用于连接之前已经配对过的蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s"/>

    <application>
        <activity
            android:name=".ui.base.BaseWebActivity"
            android:exported="false" />
    </application>

</manifest>